<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= pokemon.nome %></title>
    <link rel="stylesheet" href="/quempokemon.css">
</head>
<body>
    <div class="pokemon-container">
        <h1><%= pokemon.nome %></h1>
        <p>Tipo: <%= pokemon.tipo %></p>
        <a href="/">Voltar à Pokédex</a>
    </div>
</body>
</html>